body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h5{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.user_area{
	position: relative;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    font-size: 13px;
    background: #293364;
    height: auto;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
}

.user_area a{
    color: rgba(255, 255, 255, 0.4);
}

.user_area:before{
	background-color: rgba(0, 0, 0, 0.2);
}

.copyright{
	background: #f39c12;
	padding: 20px 0;
	text-align: center;
    color: #fff;
    font-size: 13px;
}

.search {
    padding: 39px 0;
    text-align: center;
}

.menu_topo{
	border-top: 1px solid #f3f1ee;
	border-bottom: 1px solid #f3f1ee;
}

.icon{
	border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.4);
    padding: 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 26px !important;
    margin: 0 8px 0 0;
    vertical-align: middle;
    border-radius: 100%;
}

.social_icon li{
    float: left;
    margin-right: 5px;
}

.social_icon ul{
    margin: 0;
}

.user_icon{
    float: right;    
}

.user_icon li{
    float: left;
    margin-right: 10px;
}

.user_icon ul{
    margin: 0;
    float: right;
}

.title_home h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: 300;
}

.icon_title {
    display: inline-block;
    position: relative;
    width: 124px;
}

.icon_title{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.icon_title:before, .icon_title:after{
    content: "";
    background: #181818;
    display: inline-block;
    height: 4px;
    position: absolute;
    top: 8px;
    width: 42px;
}

.icon_title:before {
    left: 0;
}

.icon_title:after {
    right: 0;
}

.icon_title .ico-bg.flower {
    background: url(../images/ico_flower.png);
}

.icon_title .ico-bg {
    background-position: left top;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 20px;
}

.topo {
    background: #f7f7f7;
}

ul#nav-mobile{
    text-align: center;
    margin: 0 15%;
}

.partners li{
    float: left;
    margin-right: 18px;
    border: 1px solid #f3f1ee;
}

.partners img{
    width: 141px; 
}

.logo{
    padding: 20px 0;
}

.clock{
    padding: 20px 0;
}

article{
    padding-top: 30px;
    padding-bottom: 30px;
}

.title_home{
    padding-bottom: 30px;
}

.partners ul{
    margin: 0;
}

.social li{
    list-style: none;
    float: left;
    padding-right: 20px;
}

.social{
    text-align: center;
}